.topic-container {
  text-decoration: none;
  display: flex;
  flex-flow: column;

  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: cursor;
  align-self: center;
}
.topic-title {
  color: black;
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  text-decoration: underline;
  margin: 4px;
  padding: 1px;
}
.topics {
  color: black;
  font-family: "Permanent Marker", cursive;
  font-size: 40px;
  text-decoration: underline;
}
.link-topic {
  color: black;
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
  text-decoration: none;
  margin: 10px;

  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}

.submit-buttons {
  color: black;
  font-family: "Permanent Marker", cursive;
  font-size: 15px;
  cursor: cursor;
  border-radius: 10px;
  background-color: #eae3ea;

  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.topics-form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
.input {
  display: flex;
  width: fit-content;
  padding: 8px 12px;
  margin: 8px 0;
  border: none;
  border-bottom: 2px solid red;
}

.each-topic-container {
  display: flex;
  flex-flow: column;
  border: 2px solid black;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: cursor;
  align-self: center;
  background-color: #eae3ea;
  text-align: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
}
