.topic-container {
  text-decoration: none;
  display: flex;
  flex-flow: column;
  border: 2px solid black;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: cursor;
  align-self: center;
  background-color: white;
}

.each-topic-container {
  text-decoration: none;
  display: flex;
  flex-flow: column;
  border: 2px solid black;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: cursor;
  align-self: center;
  background-color: white;
  text-align: center;
  align-items: center;
  font-family: "Titillium Web", sans-serif;
}
