.topics-form {
  display: flex;
  flex-direction: column;
}

.sort-Content {
  display: flex;
  flex-direction: column;

  padding: 5px 8px;

  font-size: 14px;
  font-family: "Permanent Marker", cursive;
}

.user {
  display: flex;
  flex-direction: column;
  font-family: "Permanent Marker", cursive;
  font-size: 26px;
  text-decoration: underline;
  justify-content: center;
  align-items: center;
}

.image {
  vertical-align: middle;
  width: 200px;
  height: 200px;

  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.4);
}
