.single-article-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#single-article-item {
  margin: 16px;
  padding: 4px;
  border: black;
}

#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  padding: 5px;
  margin: 0;
}
