.sort-bar {
  display: flex;
  flex-flow: column;
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  flex-grow: 1;
  background: red;
}

.sort-order-bar {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.sort-dropContent {
  display: flex;
  min-width: 100px;
  border-radius: 20px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 7px 9px;
  z-index: 2;
  font-size: 12px;
  font-family: "Permanent Marker", cursive;
  background-color: #eae3ea;
}
.sort-drop:hover .sort-dropContent {
  display: block;
}

.sort-options {
  font-family: "Titillium Web", sans-serif;
  font-size: 20px;
}
.each-article-container {
  text-decoration: none;
  font-size: 20px;
  font-family: "Titillium Web", sans-serif;
  color: black;
  display: flex;
  flex-flow: column;
  border: 2px;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  cursor: cursor;
  align-self: center;
  flex-grow: 1;
  background-color: #eae3ea;
  text-align: center;
  line-height: 1;
}

.loader {
  position: center;
}

.outer,
.middle,
.inner {
  border: 3px solid transparent;
  border-top-color: red;
  border-right-color: red;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
}

.outer {
  width: 3.5em;
  height: 3.5em;
  margin-left: -1.75em;
  margin-top: -1.75em;
  animation: spin 2s linear infinite;
}

.middle {
  width: 2.1em;
  height: 2.1em;
  margin-left: -1.05em;
  margin-top: -1.05em;
  animation: spin 1.75s linear reverse infinite;
}

.inner {
  width: 0.8em;
  height: 0.8em;
  margin-left: -0.4em;
  margin-top: -0.4em;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.pagnation {
  display: flex;
  justify-content: space-between;
}
