.sort-bar {
  display: flex;
  flex-flow: row nowrap;
  border: 2px solid coral;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  align-self: center;
  flex-grow: 1;
}

.sort-button {
  display: flex;
}

.each-article {
  display: flex;
  flex-flow: row nowrap;
  border: 2px solid coral;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.8s;
  position: relative;
  align-self: center;
  flex-grow: 1;
  background-color: coral;
  text-align: center;
}
