#container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  margin: 5px;
  padding: 5px;
  border: 2px dotted lightblue;
}

#delete-button {
  background: rgb(240, 80, 80);
  padding: 4px 8px;
  border-radius: 10%;
  cursor: pointer;
}

.comment-border {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  margin: 5px;
  padding: 5px;
  border: 2px dotted lightblue;
}
