.login-container {
  display: flex;
  flex-flow: row-reverse nowrap;
  align-items: flex-end;
}

.each-user {
  text-decoration: none;
  display: flex;
  flex-flow: column;
  border: 2px solid black;
  justify-content: center;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  cursor: cursor;
  align-self: center;
  background-color: white;
  text-align: center;
  align-items: center;
}

.users-container {
  display: flex;
  flex-flow: row wrap;
}

button {
  z-index: 1;
  position: relative;
  font-size: inherit;
  font-family: inherit;
  color: white;
  padding: 0.5em 1em;
  outline: none;
  border: none;
  background-color: hsl(236, 32%, 26%);
  overflow: hidden;
  transition: color 0.4s ease-in-out;
}

button::before {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 100%;
  left: 100%;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: #3cefff;
  transform-origin: center;
  transform: translate3d(-50%, 50%, 0) scale3d(0, 0, 0);
  transition: transform 0.45s ease-in-out;
}

button:hover {
  cursor: pointer;
  color: #161616;
}

button:hover::before {
  transform: translate3d(-50%, 50%, 0) scale3d(15, 15, 15);
}
