.App {
  border: 2px solid black;
  padding: 1px;
  border-radius: 20px;
  background-color: white;
}

.app-container {
  border: 2px solid black;
  margin: 5px;
  padding: 5px;
  border-radius: 20px;
}

.login {
  display: flex;
  font-family: "Permanent Marker", cursive;
  align-items: flex-end;
}
