.full-inclosure {
  border: 2px;
  padding: 1px;
  border-radius: 20px;
  background-color: #f9be02;
}

.header-container {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #eae3ea;
}

.routes {
  display: flex;
  flex-direction: row;
}
.navbar {
  flex-direction: row;
}

.login {
  font-family: "Permanent Marker", cursive;
  font-size: 20px;
}
